#forgot-password .container #forgot-password-row #forgot-password-column #forgot-password-box {
  margin-top: 10%;
  max-width: 100%;
  height: 100%;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
  padding: 20px;
}
#forgot-password-form {
  padding: 20px;
}
#forgot-password .container #forgot-password-row #forgot-password-column #forgot-password-box #forgot-password-form #forgot-password-link {
  margin-top: -85px;
}
#forgot-password {
  margin-bottom: 8%;
}

#change-password-row #change-password-column #change-password-box {
  margin-top: 10%;
  max-width: 100%;
  height: 100%;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
  padding: 20px;
}
#change-password-form {
  padding: 20px;
}
#change-password-row #change-password-column #change-password-box #change-password-form #change-password-link {
  margin-top: -85px;
}
