#friends #friends-row #friends-column #friends-box {
  margin-top: 10%;
  max-width: 200%;
  height: 100%;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#friends #friends-row #friends-column #friends-box #friends-form {
  padding: 2%;
}

.friends-box-bottom {
  margin-bottom: 11%;
}



