<body>
  <div id="friends">
    <div class="container">
      <div id="padding-row">
        <div id="friends-row" class="row justify-content-center align-items-center">
          <div id="friends-column" class="col-md-8">
            <div id="friends-box" class="shadow-lg rounded mt-lg-5 pb-3 friends-box-bottom">
              <div class="text-center">
                <h2 class="h2 mt-lg-3 primary-color-blue-text">Friends</h2>
              </div>
              <hr class="rounded w-75 secondary-color-yellow-background">
              <div class="d-flex justify-content-center center-image pt-lg-5 mt-lg-5 mb-lg-5 pb-lg-5" *ngIf="loadingFriends">
                <div class="spinner-border pb-lg-5 mb-lg-5" role="status" style="width: 3rem; height: 3rem;">
                </div>
              </div>
              <div *ngIf="apiResponse.length === 0 && !loadingFriends">
                <br><br><br><br>
                <h2 class="text-center">Looks like you don't have any friends :(</h2>
                <h4 class="text-center">Make some!</h4>
                <br><br><br><br>
                <div class="pb-5 row">
                  <div class="col text-center">
                    <button routerLink="/add-friend" class="btn primary-color-blue-background text-white">Add Friend</button>
                  </div>
                </div>
              </div>
              <div *ngIf="apiResponse.length > 0">
                <div class="row justify-content-center pb-5 mb-lg-5">
                  <div class="col-sm-8 mb-lg-4">
                    <div class="row pb-5">
                      <div class="col text-center">
                        <button routerLink="/add-friend" class="btn primary-color-blue-background text-white">Add Friend</button>
                      </div>
                    </div>
                    <table class="table table-hover table-striped border-bottom">
                      <thead class="primary-color-blue-background text-white">
                      <tr>
                        <!--<th scope="col"> </th>-->
                        <!--<th scope="col">Picture</th>-->
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Amount</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let friend of apiResponse" class="border">
                        <!--<td>Delete Button</td>-->
                        <!--<td>{{friend['picture']}}</td>-->
                        <td>{{friend['firstName']}}</td>
                        <td>{{friend['lastName']}}</td>
                        <td>$ {{friend['amount']}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
