#register .container #register-row #register-column #register-box {
  margin-top: 10%;
  max-width: 100%;
  height: 100%;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#register .container #register-row #register-column #register-box #register-form {
  padding: 20px;
}
#register .container #register-row #register-column #register-box #register-form #register-link {
  margin-top: -85px;
}

#border-sign-up{
  margin-top: 6%;
  width: 85%;
}

.register-form{
  padding: 20px;
}

